/* FONT FACE */
@font-face { font-family: 'Montserrat-Regular'; src: url('fonts/Montserrat-Regular.ttf'); }
@font-face { font-family: 'Montserrat-SemiBold'; src: url('fonts/Montserrat-SemiBold.ttf'); }
@font-face { font-family: 'OpenSans-Regular'; src: url('fonts/OpenSans-Regular.ttf'); }


body{
  background: #fff !important;
  color: #07001F;
}
h1, h2, h3, h4, h5, h6, blockquote {
    color: #07001F;
    margin: 0;
}
.cover{ background-position: center; background-repeat: no-repeat; background-size: cover; }
div, input, textarea, button { outline: none; }
button { text-align: center; border: none; line-height: 1;}
input { border: none; }
a { cursor: pointer; color: #07001F; border: 0; outline: 0 !important; border: 0 !important;}
input:focus, textarea:focus, select:focus, button:focus {
    outline: 0 !important;
}
:focus {
    outline: 0 !important;

    border: 1px solid #424081;
}
html {
    scroll-behavior: smooth;
}
#mainnav,
ul.navbar-nav,
ul.footer-link{
    scroll-behavior: smooth;
}
ul.navbar-nav li a,
ul.footer-link li a{
    outline: 0;
    border: 0;
}
body.modal-open {
    padding-right: 0px !important;
}
.navbar-toggler {
    background: transparent !important;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    border: 0;
    outline: 0;
}
#mainnav a.nav-link {
    padding: 0px !important;
}
.row{
  width: 103%;
}
/* BUTTON SETTINGS */
.button-1,
.button-full,
.button-sm-1,
.button-subscribe{
    background: #424081;
    border: 1px solid #424081;
    color: #fff;
    text-transform: uppercase;
    outline: 0 !important;
    letter-spacing: 2px;
    cursor: pointer !important;
}
.button-1 {
    padding: 10px 5px;
    width: 200px;
    font-size: 18px;
    font-family: 'Montserrat-SemiBold';
}
.button-banner{
    padding: 10px 30px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Montserrat-SemiBold';
    margin-top: 45px;
}
.center{
    text-align: center;
}
.button-banner:hover{
    background: blue;
}
.button-1.blue:hover,
.button-banner.blue:hover{
  background: transparent;
  border: 2px solid #4418E7;
  color: #4418E7;
}
.button-1.yellow:hover,
.button-banner.yellow:hover{
  background: transparent;
  border: 2px solid #FDF267;
  color: #FDF267;
}
.blue{
  background: #4418E7;
  border: 2px solid #4418E7;
}
.yellow{
  background: #FDF267;
  border: 2px solid #FDF267;
  color: #000;
}
.button-full{
    padding: 10px 5px;
    width: 100%;
}
.button-sm-1{
    padding: 15px 30px;
    line-height: 1;
}
.button-subscribe {
    border-radius: inherit;
    width: inherit;
    padding: 10px 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    height: 48px;
    line-height: 1;
    letter-spacing: 2px;
    display: inline-block;
    margin: 0;
    text-align: center;
}
.button-after-payment {
    width: 100%;
    border: 1px solid #37325b;
    background: transparent;
    color: #37325b;
    text-transform: uppercase;
    margin-top: 60px;
    padding: 10px 0px;
    letter-spacing: 2px;
}
.button-1:hover,
.button-sm-1:hover,
.button-subscribe:hover,
.button-full:hover,
.button-after-payment:hover{
    background: #d43d72;
    border: 1px solid #d43d72;
    color: #fff;
}
.signup-spin{
    display: none;
}
.button-1:hover .signup-spin{
    display: inline-block;

}
ul.navbar-nav li:hover span.menu-arrow{
    visibility: visible;
}

span.menu-arrow {
    font-size: 24px;
    color: #d43d72;
    text-align: center;
    display: block;
    visibility: hidden;
}
.site-header .navbar {
    transition: none !important;
}

/* END OF BUTTON SETTINGS */
div#mainnav {
    background: #fff;
}
.site-header .navbar-collapse {
    background: #4418E7;
}
#mainnav a.nav-link {
  margin-left: 30px !important;
  margin-right: 30px !important;
  font-size: 20px;
  font-family: 'Montserrat-Regular';
}
#mainnav li a{
  color: #fff;
}
#mainnav li:hover a,
#mainnav li:visited a,
#mainnav li:active a{
  color: #FDF267;
}
.before-header{
  width: 100%;
  display: block;
  background: #F9F9F9;
}
ul.before-header-contact li {
    display: inline;
    text-align: right;
    float: right;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Montserrat-Regular';
}
ul.before-header-contact li i{
  margin-right: 10px;
  color: #4418E7;
}
ul.before-header-contact {
    color: #000;
    width: 100%;
    padding: 6px 0px;
}
.site-header .navbar-brand {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    z-index: 6;
}
.middle-header {
    width: 100%;
    display: block;
    padding: 15px 0px 10px;
}
.nav-button{
  float: right;
}
#homebanner {
    background: #f9f9f9;
    height: 100vh;
    margin-top: 106px;
}
section.mobile-contact {
    display: none;
    margin-top: 106px;
}
.home-banner-details h1 {
    color: #17055A;
    font-family: 'Montserrat-SemiBold';
    font-size: 90px;
    line-height: 110px;
    margin: 0;
}
.home-banner-details h4 {
    color: #313134;
    font-family: 'OpenSans-Regular';
    font-size: 55px;
    line-height: 70px;
    margin: 0;
    margin-top: 45px;
}
#about-section,
#product-section,
#ourclients-section,
#contact-section{
  padding: 100px 0px;
}
.section-title{
  width: 100%;
}
.section-title h5 {
    font-family: 'OpenSans-Regular';
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 60px;
    color: #22202C;
}
.section-title h4 {
    font-family: 'Montserrat-SemiBold';
    font-size: 60px;
    color: #17055A;
    text-transform: uppercase;
    margin-bottom: 0;
}
.section-details{
    width: 80%;
}
.section-details p{
    font-family: 'OpenSans-Regular';
    font-size: 30px;
    line-height: 45px;
}
.product-details-section {
    width: 100%;
}
.product-details {
    width: 50%;
    padding: 10px;
}
.product-details-inner{
    padding: 30px 45px;
    background: #F9F9F9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.product-details-inner h5 {
    font-family: 'Montserrat-SemiBold';
    font-size: 30px;
    line-height: 60px;
    margin-top: 20px;
}
.product-details-inner p{
  font-family: 'OpenSans-Regular';
  font-size: 24px;
  line-height: 35px;
}
.product-details-section {
    width: 900px;
    display: block;
    margin: 0 auto;
}
.cover{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.product-image {
    height: 300px;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 0;
}
.contact-title h4{
  font-family: 'Montserrat-Regular';
  font-size: 55px;
  line-height: 60px;
  margin-bottom: 30px;
}
.contact-title h4 span{
  color: #4418E7;
  font-family: 'Montserrat-SemiBold';
}
ul.contact-list li{
  font-family: 'OpenSans-Regular';
  font-size: 22px;
}
ul.contact-list li i{
  color: #4418E7;
  margin-right: 10px;
}
#contact-section{
  background: #F9F9F9;
}
.footer-details{
  text-align: center;
  display: block;
  padding: 15px;
  width: 100%;
  color: #B7B2B2;
}
.footer-details a{
  color: #B7B2B2;
}
.footer-scetion {
    min-height: 60px;
}
#homebanner{
  position: relative;
}
img.homebanner-img {
    position: absolute;
    right: -50px;
    width: 60%;
    bottom: -171px;
}
.client-list{
  width: 100%;
  margin-top: 30px;
}
.client-list img{
    width: 100px;
    margin: 0 auto;
    display: block;
}
.member-details {
    box-shadow: 1px 5px 4px 2px rgba(0, 0, 0, 0.1), 2px 1px 3px 2px rgba(0, 0, 0, 0.1);
}
/* .has-fixed div#mainnav {
    background: red;
} */
ul.navbar-nav {
    width: max-content;
    float: right;
    margin-right: -30px;
}

/* M E D I A Q U E R Y */
@media only screen and (max-width: 1024px) {
  ul.before-header-contact li {
    font-size: 13px;
  }
  .button-1 {
    font-size: 16px;
  }
  #mainnav a.nav-link {
    font-size: 18px;
  }
  img.homebanner-img {
    position: absolute;
    right: -50px;
    width: 80%;
    bottom: -171px;
  }
  .button-banner {
    margin-top: 30px;
    font-size: 24px;
  }
  .home-banner-details h4 {
    font-size: 45px;
    line-height: 60px;
  }
  .home-banner-details h1 {
    font-size: 80px;
    line-height: 90px;
  }

}
@media only screen and (max-width: 992px) {
  button.navbar-toggler.collapsed {
    float: right;
  }
  .nav-button{
    display: none;
  }
  button.navbar-toggler {
    float: right;
  }
  .navbar-toggler {
    margin-right: 0px;
    padding: 0 5px;
    color: #000;
  }
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 0;
    padding-left: 0;
    background: #fff;
  }
  .navbar-toggler .ti {
    line-height: 45px;
    font-size: 30px;
  }
  ul.navbar-nav {
    width: 100%;
    float: none;
    text-align: left;
    padding: 10px 15px;
  }
  #mainnav a.nav-link {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .product-details-inner h5 {
    font-size: 24px;
    line-height: 40px;
  }
  .product-details-inner p {
    font-size: 22px;
    line-height: 30px;
  }
  .product-details-section {
    width: 100%;
  }
  .product-image {
    height: 250px;
  }
  .contact-title h4 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  ul.contact-list li {
    font-size: 18px;
  }
  section.mobile-contact {
      display: block;
      margin-top: 106px;
  }
  .mc-left a,
  .mc-right a{
    font-size: 20px;
    line-height: 50px;
    display: block;
    text-transform: uppercase;
    font-family: 'Montserrat-SemiBold';
}
  .mc-left, .mc-right {
    text-align: center;
    width: 50%;
  }
  .mc-left{
    background: #FDF267;
    color: #000;
  }
  .mc-right{
    background: #4418E7;
  }
  .mc-right a{
    color: #fff;
  }
}
@media only screen and (max-width: 768px) {
  .middle-header {
    padding: 15px 15px 10px;
  }
  .before-header span{
    display: none;
  }
  ul.before-header-contact li {
    margin-left: 10px;
    font-size: 16px;
  }
  #homebanner {
    height: 70vh;
    margin-top: 70px;
  }
  img.homebanner-img {
    position: absolute;
    right: 0;
    bottom: -110px;
    width: 80%;
  }
  .section-title {
    text-align: center;
  }
  .section-details {
    width: 100%;
  }
  .section-title h5 {
    margin-bottom: 40px;
  }
  .product-details {
    width: 50%;
    padding: 15px;
  }
  .row {
    width: 100%;
    margin: 0 auto;
  }
  .product-details-inner h5 {
    font-size: 22px;
    line-height: 40px;
  }
  .product-details-inner p {
    font-size: 20px;
    line-height: 30px;
  }
  .section-details p {
    font-size: 26px;
  }
  .section-title h4 {
    font-size: 45px;
  }
  .contact-title h4 {
    text-align: center;
  }
  .contact-title {
      margin-bottom: 30px;
  }
}
@media only screen and (max-width: 766px) {
  .product-details {
    width: 100%;
    padding: 15px;
  }
  #about-section, #product-section, #ourclients-section, #contact-section {
    padding: 80px 15px;
  }
  .product-details-inner {
    padding: 30px;
  }
}
@media only screen and (max-width: 640px) {
  .section-title h4 {
    font-size: 35px;
  }
  .section-title h5 {
    margin-bottom: 30px;
    font-size: 24px;
  }
  #homebanner {
    height: 100vh;
  }
  .home-banner-details h1 {
    font-size: 70px;
    line-height: 70px;
    margin: 0;
  }
  img.homebanner-img {
    position: absolute;
    right: -50px;
    bottom: -50px;
    width: 100%;
  }
  .home-banner-details {
    text-align: center;
  }
  .home-banner-details h4 {
    font-size: 35px;
    line-height: 60px;
  }
  .section-details p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 425px) {
  .section-details p {
    font-size: 22px;
    line-height: 35px;
  }
  .product-details-inner {
    padding: 30px 15px;
  }
  .product-details {
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }

}
