/* NAVBAR */
#mainnav a.nav-link { margin-left: 30px !important; margin-right: 30px !important; font-size: 1.000em; }
#mainnav .navbar-hover-icon-container { margin-top: -10px; }
#mainnav .navbar-hover-icon { color: transparent; font-size: 2.000em; }
#mainnav a.nav-link:hover .navbar-hover-icon { color: #CE3E73; }

@media only screen and (max-width: 991px ) { #mainnav .navbar-hover-icon-container { display: none; }}

/* SPACE (id=tokenSale) */
#tokenSale { background-color: #1B1B27; }
#tokenSale .tokenSale-text { color: #423E83; }
#tokenSale .tokenSale-link { color: #28234C; }
#tokenSale .tokenSale-link:hover { color: #46bdf4 !important; cursor: pointer !important;  }

/* BLOGS (id=team) */

/* FOOTER */
.footer-scetion { background-color: #14131B; min-height: 100px; height: 100%; display: block; }
.footer-link > li { display: inline-block; }
.footer-link { list-style: none; margin: 0; padding: 0; }
.footer-link > li > a { color: #8A99AF; font-weight: 500; }

.footer-img { width: 140px; height: auto;}

.section-2-img { width: 120px; height: auto; }

.set-section-2 .d-flex { display: block; height: 200px; }
.set-section-2 .d-flex > img { display: block; height: 100px; }

/* 8px solid #1A1927; */

/* GALLERY */
.gallery-list { list-style: none; padding: 0; margin: 0; }
.gallery-list li { display: inline-block; padding-left: 5px; padding-right: 5px; margin-left: 0; margin-right: 0; }
.gallery-list li > a > img { width: 200px; height: 160px; }

.gallery-list li a { height: 180px; display: block; border-bottom: 8px solid #1A1927; }
.gallery-list li a:hover { border-bottom: 8px solid #262449; }
.gallery-list { height: 180px; padding-left: 0; padding-right: 0; }

.gallery-hover-icon { color: transparent; font-size: 1.500em; }
.gallery-list  li a img { opacity: 0.5; }
.gallery-list li a:hover img { opacity: 1.0; background-color: rgba(34, 153, 121, 0.5); color: rgba(34, 153, 121, 0.5); }
.gallery-list > li:hover .gallery-hover-icon { color: #E93E7C !important; }

@media only screen and (min-width: 992px) {
    .footer-link > li { padding-left: 10px; padding-right: 24px; }
}

@media only screen and (max-width: 991px) { 
    .footer-link > li { padding-left: 10px; padding-right: 10px; }
}

@media only screen and (max-width: 707px) {
    .footer-link > li { padding-left: 8px; padding-right: 8px; }
}
@media only screen and (max-width: 672px) {
    .footer-scetion { background-color: #14131B; }
    .footer-scetion > .container { padding-bottom: 20px; }    
    .footer-scetion  ul.footer-link > li { text-align: right; display: block; padding-top: 16px; padding-bottom: 8px; }
    
    /* .footer-scetion > .container > .row > .col-sm-4 { height: 140px;  }
    .footer-scetion > .container > .row > .col-sm-4 > table { height: 140px; } */
}
@media only screen and (max-width: 575px) {
    .footer-scetion img { padding-top: 20px; }
    .footer-scetion ul.footer-link { padding-top: 40px; }
    .footer-scetion ul.footer-link > li { text-align: center; display: block; padding-top: 16px; padding-bottom: 8px; }
}
@media only screen and (max-width: 512px) {
    .footer-scetion > .container > .row > .col-sm-4 table tr { text-align: center; }
    .footer-scetion > .container > .row > .col-sm-4 table tr td { padding-top: 20px; }
}
/* @media only screen and (max-width: 576px) { .footer-scetion { line-height: 40px; } .footer-link > li { display: block; text-align: center; }}
@media only screen and (max-width: 768px) { .footer-link > li { display: block; padding-top: 10px; padding-bottom: 10px;}}
@media only screen and (min-width: 769px) { .footer-link > li { margin-left: 5px; margin-right: 5px; }} */